.aboutMeParent {
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: gray;
  background-color: rgb(250, 244, 236);
}

.aboutMeTitle {
  font-size: 35px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Aboreto", cursive;
  margin-bottom: 30px;
  color: rgb(90, 85, 85);
}

.aboutMeTitle span {
  font-size: 18px;
  font-weight: bold;
  color: rgb(90, 85, 85);
}

.aboutMeBody {
  width: 80%;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 22px;
  color: rgb(90, 85, 85);
}
