.aboutMeParent {
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: gray;
  background-color: var(--light-cream);
}

.aboutMeTitle {
  font-size: 35px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Aboreto", cursive;
  margin-bottom: 30px;
  color: var(--dark-gray);
}

.aboutMeTitle span {
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-gray);
}

.aboutMeBody {
  width: 80%;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 22px;
  color: var(--dark-gray);
}
