.contactSvg {
  position: relative;
  margin-top: -100px;
  z-index: 0;
}

.backToTopIcon {
  position: absolute;
  margin-top: -25px;
  font-size: 20px;
}

.backToTopIcon i {
  color: rgb(83, 77, 68);
}

.backToTopIcon i:hover {
  color: rgb(205, 186, 162);
}

.contactParent {
  height: 150px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 25px 0;
  background-color: rgb(250, 244, 236);
  margin-top: -80px;
}

.contactTitle {
  font-size: 30px;
  font-family: "Aboreto", cursive;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  z-index: 1;
  color: rgb(90, 85, 85);
}

.contactLinkWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.icon {
  font-size: 45px;
  color: rgb(130, 120, 106);
}

.icon:hover {
  border-bottom: 2px solid rgb(205, 186, 162);
  padding-bottom: 4px;
}

.contactUl a,
.contactUl p {
  margin-top: 20px;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 22px;
  color: rgb(83, 77, 68);
}

.contactIconLinks a {
  margin-left: 20px;
}

.contactUl a:hover {
  text-decoration: underline;
}
