.backToTopIcon {
  font-size: 20px;
}

.backToTopIcon i {
  color: var(--smoky-tan);
}

.backToTopIcon i:hover {
  color: var(--tan);
}

.contactParent {
  height: 150px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 25px 0;
  background-color: var(--light-cream);
  margin-top: -80px;
}

.contactTitle {
  font-size: 30px;
  font-family: "Aboreto", cursive;
  letter-spacing: 2px;
  margin: 20px 0px;
  text-align: center;
  z-index: 1;
  color: var(--dark-gray);
}

.contactLinkWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.icon {
  font-size: 25px;
  color: var(--smoky-tan);
}

.icon:hover {
  border-bottom: 2px solid var(--tan);
  padding-bottom: 4px;
}

.contactUl a,
.contactUl p {
  margin-top: 20px;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 22px;
  color: var(--smoky-tan);
}

.contactIconLinks a {
  margin-left: 20px;
}

.contactUl a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 320px) {

  .backToTopIcon {
    position: absolute;
    margin-top: -23px;
    font-size: 20px;
  }

  .contactLinkWrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .contactIconLinks {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 20px -10px 0;
  }
}
