.projectsParent {
  padding: 15px;
  background-color: var(--light-cream);
  height: fit-content;
}

.sliderDiv {
  width: 70%;
  margin: 0 auto;
}

.slide img {
  width: 20rem;
  margin: 5rem auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  font-size: 30px;
}

.arrow i {
  transition: color 300ms;
  color: var(--dark-gray);
}

.arrow i:hover {
  color: var(--light-gray);
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.projectsTitle {
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Aboreto", cursive;
  color: var(--dark-gray);
}

.indProjectsParent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 30px 0;
}

.indProject {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: fit-content;
  padding: 10px;
  /* background-color: rgb(212, 206, 198, 0.8); */
  color: white;
  margin: 15px 0;
}

.chatWidget img {
  height: 300px;
  width: auto;
}

.projectTitle {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 30px;
  color: var(--dark-gray);
}

.projectImg {
  width: 320px;
  margin: 5px 0;
  border: 1px solid var(--light-gray);
}

.externalLinkIcons {
  margin-top: 10px;
}

.externalLinkIcons a i {
  margin: 0 10px;
  font-size: 25px;
  color: var(--dark-gray);
}

.githubLink:hover,
.homeLink:hover {
  border-bottom: 1px solid var(--dark-gray);
}

@media only screen and (min-width: 320px) {
  .projectImg {
    width: 300px;
    margin: 5px 0;
    border: 1px solid var(--light-gray);
  }

  .chatWidget img {
    height: 300px;
    width: auto;
  }

  .indProject:nth-child(odd) {
    background-color: var(--dark-cream);
  }
}
