.projectsParent {
  padding: 15px;
  background-color: rgb(250, 244, 236, 0.8);
}

.projectsTitle {
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Aboreto", cursive;
  color: rgb(90, 85, 85);
}

.indProjectsParent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 30px 0;
}

.indProject {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: fit-content;
  padding: 10px;
  background-color: rgb(212, 206, 198, 0.8);
  color: white;
  margin: 15px 0;
}

.chatWidget img {
  height: 300px;
  width: auto;
}

.projectTitle {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 30px;
  color: rgb(90, 85, 85);
}

.projectImg {
  width: 320px;
  margin: 5px 0;
  border: 1px solid rgb(154, 154, 154);
}

.externalLinkIcons {
  margin-top: 10px;
}

.externalLinkIcons a i {
  margin: 0 10px;
  font-size: 25px;
  color: rgb(90, 85, 85);
}

.githubLink:hover,
.homeLink:hover {
  border-bottom: 1px solid rgb(90, 85, 85);
}
